html,body {
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

#loginPopup {
	z-index: 1;
	position: absolute;
	width: 360px;
	height: 360px;
	visibility: hidden;
	background-color: #000000;
	opacity: 0.9;
}

#revealedPage {
	width: 360px;
	height: 180px;
	visibility: hidden;
}

#revealedSpace {
	width: 360px;
	height: 120px;
}

#wrongSpace {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 130px;
	height: 120px;
}

#menuSpace {
	position: absolute;
	left: 130px;
	top: 0px;
	width: 100px;
	height: 120px;
}

#rightSpace {
	position: absolute;
	left: 230px;
	top: 0px;
	width: 130px;
	height: 120px;
}

#revealedButtons {
	width: 360px;
	height: 60px;
}

#wrongButton {
	position: absolute;
	left: 0px;
	top: 120px;
	width: 150px;
	height: 60px;
	background-image: url('../assets/wrong_button.png');
	background-size: 150px 60px;
}

#menuButton {
	position: absolute;
	left: 150px;
	top: 120px;
	width: 60px;
	height: 60px;
	background-image: url('../assets/menu_button.png');
	background-size: 60px 60px;
}

#rightButton {
	position: absolute;
	left: 210px;
	top: 120px;
	width: 150px;
	height: 60px;
	background-image: url('../assets/right_button.png');
	background-size: 150px 60px;
}

#menuPage {
	margin: 0px;
	width: 360px;
	height: 360px;
	visibility: hidden;
	background-color: #000000;
	opacity: 0.9;
}

#menuLargeSpace {
	margin: 0px;
	width: 360px;
	height: 300px;
}

#menuButtons {
	margin: 0px;
	width: 360px;
	height: 60px;
}

#backButtonInMenu {
	width: 360px;
	height: 60px;
	border-radius: 0px;
	background-image: url('../assets/back_button.png');
	background-size: 360px 60px;
}


#settingsPage {
	margin: 0px;
	width: 360px;
	height: 360px;
	visibility: hidden;
	background-color: #000000;
	opacity: 0.9;
}

#settingsSpace {
	margin: 0px;
	width: 360px;
	height: 300px;
}

#settingsButtons {
	margin: 0px;
	width: 360px;
	height: 60px;
}

#backButtonInSettings {
	width: 360px;
	height: 60px;
	border-radius: 0px;
	background-image: url('../assets/back_button.png');
	background-size: 360px 60px;
}

#timeBackground {
	width: 360px;
	height: 360px;
	background-image: url('../assets/day_cycle.png');
}

#landscapeBackground {
	z-index: 1; 
	position:absolute; 
	left:0px; 
	top:0px;
	width: 360px;
	height: 180px;
	background-image: url('../assets/simple_background.png');
	background-size: 360px 180px;
}

svg {
	width: 360px;
	height: 180px;
}

#iconSpace {
	z-index: 3; 
	position:absolute; 
	left: 108px;
	top: 0px;
	background-image: url('../assets/icon_space.png');
	background-size: 144px 71px;
	opacity: 0.8;
}

#temperatureSpace {
	z-index: 3; 
	position:absolute; 
	left:120px; 
	top:10px;
}

#weatherSpace {
	z-index: 3; 
	position:absolute; 
	left:195px; 
	top:5px;
	transform: scale(0.8, 0.8);
}

#time {
	width: 360px;
	height: 180px;
}

#wordSpace {
	width: 360px;
	height: 120px;
	background-image: url('../assets/background.png');
}

#imageFade {
	width: 360px;
	height: 120px;
	visibility: hidden;
}

#words {
	width: 360px;
	height: 120px;
}

#buttons {
	width: 360px;
	height: 60px;
	text-align: center;
}

#revealButton {
	width: 360px;
	height: 60px;
	background-image: url('../assets/reveal_button.png');
	background-size: 360px 60px;
}

.mButton {
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	height: 100px;
	position: relative;
	border-radius: 20px;
	background-color: Transparent;
}

.sButton {
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	height: 60px;
	position: relative;
	border-radius: 20px;
	background-color: Transparent;
}

#loginPage {
	z-index: 1;
	width: 360px;
	height: 360px;
	background-image: url('../assets/login_background.png');
	background-size: 360px 360px;
}

#log_header {
	width: 360px;
	height: 70px;
}

#plusSpace {
	width: 360px;
	height: 55px;
}

.loginPlus {
	width: 55px;
	height: 55px;
	border-radius: 25px;
	background-image: url('../assets/plus_login.png');
	background-size: 50px 50px;
}

#digits {
	width: 360px;
	height: 105px;
}

#minSpace {
	width: 360px;
	height: 55px;
}

.loginMin {
	width: 55px;
	height: 55px;
	border-radius: 25px;
	background-image: url('../assets/min_login.png');
	background-size: 50px 50px;
}

#pageIcon {
	width: 360px;
	height: 15px;
}

#buttonSpace {
	width: 360px;
	height: 60px;
}

#setNextButton {
	width: 360px;
	height: 60px;
	border-radius: 0px;
	background-image: url('../assets/set_next_button.png');
	background-size: 360px 60px;
}

/*.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
#content-text {
    font-weight: bold;
    font-size: 5em;
}*/