html,
body {
	position: fixed;
	overflow-y: hidden;
	background: url('background.png');
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#header{
	width: 360px;
	height: 100px;
	/*background-color: #d98225;*/
}

#main {
    width: 360px;
    height: 140px;
    display: table;
    /*background-color: #d98225;*/
}

#footer{
	width: 360px;
	height: 120px;
	text-align: center;
	/*background-color: #bd4c0f;*/
}

.footerButtonLeft{
	width: 170px;
	height: 120px;
	border-radius: 20px;
	background: url('reveal.png');
	
}

.footerButtonRight{
	width: 170px;
	height: 120px;
	border-radius: 20px;
	background: url('next.png');
	
}

.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
#content-text {
    font-weight: bold;
    font-size: 5em;
}