html,
body {
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	background-image: url('background.png');
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#menu {
  margin: 0px;
  width: 360px;
  height: 360px;
  visibility: hidden;
  background-color: #000000;
  opacity: 0.9;
}

#settings {
  margin: 0px;
  width: 360px;
  height: 360px;
  visibility: hidden;
  background-color: #000000;
  opacity: 0.9;
}

#timeBackground {
	width: 360px;
	height: 360px;
	background-image: url('day_cycle.png');
}

svg {
  	width: 360px;
  	height: 180px;
}

#dateSpace {
	width: 100px;
	height: 90px;
	background-image: url('date_space.png');
	transform: scale(0.4, 0.4);
}


#time{
	width: 360px;
	height: 180px;
	/*background-color: #d98225;*/
}

#wordSpace {
	width: 360px;
	height: 120px;
	background-image: url('background.png'); 
}

#imageFade {
	width: 360px;
	height: 120px;
	visibility: hidden;
}

#words {
    width: 360px;
    height: 120px;
    /*background-color: #d98225;*/
}

#buttons{
	width: 360px;
	height: 60px;
	text-align: center;
	/*background-color: #bd4c0f;*/
}

#menuButton{
	width: 180px;
	height: 60px;
	border-radius: 0px;
	background-image: url('menu_button.png');
}

.mButton{
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	color: white;
	font-size: 20px;
	width: 200px;
	height: 60px;
	position: relative;
	border-radius: 20px;
	background-color: Transparent;
}

#nextButton{
	width: 180px;
	height: 60px;
	border-radius: 0px;
	background-image: url('next_button.png');
}

#nextButton:active {
    background-color: Transparent;
}

.numberButton{
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	color: white;
	font-size: 20px;
	width: 80px;
	height: 65px;
	border-radius: 10px;
	background-image: url('number_button_color.png');
}

.sideButtonLeft {
	text-align: center;
	width: 50px;
	height: 65px;
	border-radius: 10px;
	background-image: url('side_button_left.png');
}

.sideButtonRight {
	text-align: center;
	width: 50px;
	height: 65px;
	border-radius: 10px;
	background-image: url('side_button_right.png');
}

#loginHeader {
	width: 360px;
	height: 110px;
	background-image: url('header_password.png');
}

#loginFooter{
	width: 360px;
	height: 150px;
	text-align: center;
}

/*.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
#content-text {
    font-weight: bold;
    font-size: 5em;
}*/